@model ContatoViewModel

@{
    ViewData["Title"] = "Confirmar Exclusão";
}

<h1>@ViewData["Title"]</h1>

<h3>Tem certeza de que deseja excluir este Contato?</h3>

<div>
    <h4>Contato</h4>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                ID
            </dt>
            <dd class="col-sm-10">
                @Model.Id
            </dd>

            <dt class="col-sm-2">
                Nome
            </dt>
            <dd class="col-sm-10">
                @Model.Nome
            </dd>

            <dt class="col-sm-2">
                Telefone
            </dt>
            <dd class="col-sm-10">
                @Model.Telefone
            </dd>

            <dt class="col-sm-2">
                E-mail
            </dt>
            <dd class="col-sm-10">
                @Model.Email
            </dd>

            <dt class="col-sm-2">
                Motivo
            </dt>
            <dd class="col-sm-10">
                @Model.Motivo
            </dd>

            <dt class="col-sm-2">
                Descrição
            </dt>
            <dd class="col-sm-10">
                @Model.Descricao
            </dd>
        </dl>
    </div>

    <form asp-action="Excluir" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Excluir</button>
            <button class="btn btn-secondary" id="btnCancelar">Cancelar</button>
        </div>
    </form>
</div>

<script>
    document.getElementById("btnCancelar").addEventListener("click", function(){
        window.location.href='@Url.Action("ExcluirContatos", "Contatos")';
    })
</script>
