@model IEnumerable<ContatoViewModel>

@{
    ViewData["Title"] = "Lista de Pacotes";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Motivo</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contato in Model)
        {
            <tr>
                <td>@contato.Id</td>
                <td>@contato.Nome</td>
                <td>@contato.Telefone</td>
                <td>@contato.Email</td>
                <td>@contato.Motivo</td>
                <td>@contato.Descricao</td>
                <td>
                    <a asp-action="ConfirmarExclusao" asp-route-id="@contato.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-secondary" id="btnVoltar">Voltar</button>

<script>
    document.getElementById("btnVoltar").addEventListener("click", function(){
        window.location.href='@Url.Action("PainelUsuario", "Home")';
    })
</script>