@model IEnumerable<EventoViewModel>

@{
    ViewData["Title"] = "Lista de Pacotes";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Descricao</th>
            <th>Data</th>
            <th>Horario</th>
            <th>Local</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evento in Model)
        {
            <tr>
                <td>@evento.Id</td>
                <td>@evento.Titulo</td>
                <td>@evento.Descricao</td>
                <td>@evento.Data.ToString("dd/MM/yyyy")</td>
                <td>@evento.Horario.ToString("HH:mm")</td>
                <td>@evento.Local</td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-secondary" id="btnVoltar">Voltar</button>

<script>
    document.getElementById("btnVoltar").addEventListener("click", function(){
        window.location.href='@Url.Action("PainelUsuario", "Home")';
    })
</script>